@import url('text.css');

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

body {
  margin: 0px;
  padding: 0px;
  background:#fff;
  color: #390c00;
  text-rendering: optimizeLegibility;
  font-size:14px;
}

a         { color: #E0330C; }
a:hover   { color: #BB300A; }
a:visited { color: #E0330C; }

p {
  font-size: 1.1em;
}

/*****************************************************************************/
/*
/* Header and navigation
/*
/*****************************************************************************/

.navbar-inverse {
  color: #fff;
  background-color: #d3360b;
  height: 120px;
  padding-top:40px;
  border-color: #fff;
  border-radius: 0px;
  border: 0px;
  z-index:5;
}

.navbar-brand {
  margin-top: -20px;
}

.navbar-inverse .navbar-nav>li>a {
  color:#fff;
}

.navbar-main>li>a {
  color:#fff;
  text-decoration:none;
  font-weight:300;
  font-size:20px;
  letter-spacing:1px;
  margin-left:15px;
  margin-right: -15px;
} 

.navbar-main>li>a:after {
  margin-left:30px;
  content:url(../images/star.png);
}

#last-item:after {
  content:none;
}

/* Same for both navbars */

.navbar-nav>li>a:hover{
  text-decoration:underline;
} 

.nav>li>a {
  padding:15px 0px;
}

/* Secondary navbary with video links */

.navbar-secondary {
  color: #fff;
  background-color: #BB300A;
  height: 40px;
  padding-top: 0px;
  border-color: #fff;
  border-radius: 0px;
  border: 0px;
  margin-top: -20px;
  z-index: 0;
  height: 100%;
}

.navbar-video>li>a {
  color:#fff;
  text-decoration:none;
  font-weight:300;
  font-size:18px;
  margin-left:0px;
  z-index: 0;
} 

.navbar-video>li>a:hover{
  background-color:#BB300A;
} 


.navbar-nav>li>.active {
  text-decoration: underline;
  font-weight: 400;
}

@media (max-width: 960px){
  .navbar {
    text-align: center;
  }
  .navbar-inverse {
    padding-bottom: 80px;
  }
  .navbar-header {
    margin-top: -15px;
    margin-bottom: -5px;
    height: 50px;
    float:none;
  }
  .navbar-brand {
    margin-left: 0px;
    float: none;
  }
  #logo {
    height:100%;
    text-align: center;
  }
  .navbar .nav,
  .navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
  }
  .navbar-inner {
    text-align:center;
  }
  .navbar-menu {
    margin-left: -50px;
    text-align: center;
  }
  .navbar-main>li>a {
    margin-left:15px;
    margin-right: -30px;
  } 
  .navbar-main>li>a:after {
    margin-left:20px;
  }
  .navbar-video {
    margin-left: -20px;
  }
}

@media (max-width:768px){
  .navbar-header {
    margin-top: -18px;
    margin-bottom: -10px;
  }
  .navbar-main>li>a {
    margin-left:5px;
  } 
  .navbar-main>li>a:after {
    margin-left:10px;
  }
  .navbar-main>li>a {
    font-size: 18px;
  } 
  .navbar-video>li>a {
    font-size:16px;
  } 
}

@media (max-width:480px){
  .navbar-header {
    margin-bottom: -15px;
  }
  .navbar-main>li>a {
    margin-left:0px;
  } 
  .navbar-main>li>a:after {
    margin-left:5px;
  }
  .navbar-main>li>a {
    font-size: 16px;
  } 
  .navbar-video>li>a {
    font-size:14px;
  } 
}
/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

footer {
  color:#666;
  overflow:hidden;
  width:100%;
  padding-top:40px;
  background:#F4F4F4;
  line-height:1.5;
  text-align:center;
  margin-top: 40px;
}

footer a {
  color:#111;
  border-color:#111;
}

/*****************************************************************************/
/*
/* Special elements
/*
/*****************************************************************************/

.red-border {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: #E0330C;
}

.workshop {
  padding-bottom: 10px;
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-bottom-color: #E0330C;
}

.workshop img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-color: #E0330C;
    border-width: medium;
    border-style: solid;
    max-width: 40%;
    margin-left: 7px;
}

.resources {
  list-style: none;
}

.resources li {
  margin-left: -40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-bottom-color: #E0330C;
}

.resources a {
  font-weight: bold;
}

.community {
  margin-top: 10px;

}

.community img {
  width: 100%;
  margin-bottom: 5px;
}

.community a {
  font-weight: bold;
}

.twitter-follow {
  margin-top: 5px;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
